.home-container{
    background-color: rgb(242, 246, 247);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.search-bar{
    padding: 10px;
    width: 50%;
    outline: none;
}
.search-button{
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 2px;
}

.product-link{
    text-decoration: none;
    color: black;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style-type: none;
}
.product-item{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.product-image{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-name{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.product-price{
    font-size: 18px;
    color: green;
    margin: 2px 0;
    align-self: flex-start;
}
.product-stock{
    font-size: 17px;
    color: #555;
    margin: 2px 0;
    align-self: flex-start;
}
.product-rating{
    font-size: 17px;
    color: #555;
    margin: 2px 0;
    align-self: flex-start;
}