.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
.navbar-logo{
  width: 60px;
  height: 60px;
  margin: 5px;
}
.logout-button{
  border-color: aliceblue;
  color: #fff;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}